/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 21, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 34, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
body {
  line-height: 1; }

/* line 37, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
ol, ul {
  list-style: none; }

/* line 40, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
blockquote, q {
  quotes: none; }

/* line 44, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 48, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 6, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
body, html {
  background: #fff;
  color: #444444;
  height: 100%;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

/* line 16, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
h1 {
  font-size: 2.5em; }

/* line 20, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
h2 {
  font-size: 1.5em; }

/* line 20, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0 5px 32px;
  background-color: #fff;
  font-size: 1.5em;
  z-index: 1; }

/* line 35, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.top {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: none;
  background: url("../images/port-background.jpg") no-repeat center center;
  background-size: cover; }

/* line 49, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.v-align {
  height: 100%;
  width: 100%;
  display: table; }

/* line 56, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nameText {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  letter-spacing: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1em; }

/* line 67, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nameText h1 {
  padding-bottom: 15px; }

/* line 71, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nameText h2 {
  font-size: 1.2em; }

/* line 80, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav {
  width: 45%;
  float: right;
  color: black;
  font-size: 0.6em;
  padding-left: 10%;
  padding-top: 7px; }

/* line 89, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.nav-logo {
  float: left;
  width: 45%;
  padding-left: 20px; }

/* line 95, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav li {
  float: left;
  margin: 0 20px; }

/* line 107, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav li a {
  text-decoration: none;
  color: black; }

/* line 121, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#getfree {
  padding: 31% 0; }

/* line 129, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#lordsofdogtown, #fontface, #surfaid, #damagedgoods {
  padding: 30% 0;
  max-width: 100%; }

/* line 134, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.subrowtop {
  margin-bottom: 5%; }

/* line 144, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#getfree {
  background: url("../images/getfree-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 154, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#lordsofdogtown {
  background: url("../images/lod-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 162, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#fontface {
  background: url("../images/fontface-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 170, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#surfaid {
  background: url("../images/surfaid-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 178, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#damagedgoods {
  background: url("../images/dgz-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 223, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#gfwork, #dgwork, #lodwork, #surfwork, #ffwork {
  color: white; }

/* line 228, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.close-svg {
  max-width: 40px;
  display: block;
  float: right;
  margin: 15px;
  cursor: pointer; }

/* line 236, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.modal-header {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5%; }

/* line 246, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info {
  padding: 0 0 0 10%;
  border-radius: 5px; }

/* line 251, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  margin: 10px 0; }

/* line 257, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info p {
  font-size: 1.2em; }

/* line 262, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.modal-content img {
  max-width: 100%;
  height: auto; }

/* line 267, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.view-site {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5%; }

/* line 277, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.view-site p {
  max-width: 20%;
  border: thin solid #e5da00;
  margin: 0 auto;
  text-decoration: none; }

/* line 287, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#contact {
  margin-top: 5%;
  margin-bottom: 5%; }

/* line 292, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#myphoto {
  padding-top: 225px;
  padding-bottom: 225px;
  background: url("../images/lake.jpg") no-repeat center center;
  background-size: cover; }

/* line 304, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.description {
  padding: 11.5%;
  font-size: 1.5em;
  background-color: #444444;
  color: #e5da00; }

/* line 312, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.social img {
  max-width: 60px;
  display: block;
  margin: 0 auto;
  padding: 10px 0; }

@media screen and (max-width: 600px) {
  /* line 320, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
  .social img {
    max-width: 35px; }
 }

/* line 326, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.github {
  background-color: #222222; }

/* line 330, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.linkedin {
  background-color: #444444; }

/* line 334, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.facebook {
  background-color: #555555; }

/* line 338, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.instagram {
  background-color: #666600; }

/* line 342, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.myemail {
  padding: 25px 0;
  color: #444444;
  background-color: #e5da00;
  text-align: center;
  font-size: 1.5em; }

/* line 351, /Users/Zac/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.social:hover, .myemail:hover {
  opacity: 0.8; }
