/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 21, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 34, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
body {
  line-height: 1; }

/* line 37, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
ol, ul {
  list-style: none; }

/* line 40, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
blockquote, q {
  quotes: none; }

/* line 44, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 48, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 6, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
body, html {
  background: #141516;
  color: #444444;
  height: 100%;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

/* line 16, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
h1 {
  font-size: 2.5em; }

/* line 20, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/global */
h2 {
  font-size: 1.5em;
  margin-bottom: 5%; }

/* line 20, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px 32px;
  background-color: #e5da00;
  font-size: 2em; }

/* line 34, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.top {
  width: 100%;
  height: 100%;
  position: relative;
  border: 15px solid #141516;
  overflow: none; }

/* line 44, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nameText {
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 10px;
  display: none;
  font-size: 3em; }

/* line 56, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none; }

/* line 65, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav li {
  text-align: center;
  font-size: 4em;
  margin: 1% 0;
  padding: 2.5% 0; }

/* line 78, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#nav li a {
  text-decoration: none;
  color: #444444; }

/* line 87, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#top-right-bar {
  position: absolute;
  top: 20px;
  right: -100px;
  width: 300px;
  height: 50px;
  background-color: #e5da00;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: none;
  display: none; }

/* line 105, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#getfree {
  padding: 31% 0; }

/* line 113, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#lordsofdogtown, #fontface, #surfaid, #damagedgoods {
  padding: 30% 0;
  max-width: 100%; }

/* line 118, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.subrowtop {
  margin-bottom: 5%; }

/* line 128, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#getfree {
  background: url("../images/getfree-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 138, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#lordsofdogtown {
  background: url("../images/lod-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 146, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#fontface {
  background: url("../images/fontface-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 154, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#surfaid {
  background: url("../images/surfaid-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 162, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#damagedgoods {
  background: url("../images/dgz-thumb.jpg") no-repeat center center;
  background-size: cover; }

/* line 207, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#gfwork, #dgwork, #lodwork, #surfwork, #ffwork {
  color: white; }

/* line 212, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.close-svg {
  max-width: 40px;
  display: block;
  float: right;
  margin: 15px;
  cursor: pointer; }

/* line 220, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.modal-header {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5%; }

/* line 230, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info {
  padding: 0 0 0 10%;
  border-radius: 5px; }

/* line 235, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  margin: 10px 0; }

/* line 241, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.project-info p {
  font-size: 1.2em; }

/* line 246, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.modal-content img {
  max-width: 100%;
  height: auto; }

/* line 251, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.view-site {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5%; }

/* line 261, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.view-site p {
  max-width: 20%;
  border: thin solid #e5da00;
  margin: 0 auto;
  text-decoration: none; }

/* line 271, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#contact {
  margin-top: 5%;
  margin-bottom: 5%; }

/* line 276, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
#myphoto {
  padding-top: 225px;
  padding-bottom: 225px;
  background: url("../images/lake.jpg") no-repeat center center;
  background-size: cover; }

/* line 288, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.description {
  padding: 11.5%;
  font-size: 1.5em;
  background-color: #444444;
  color: #e5da00; }

/* line 296, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.social img {
  max-width: 60px;
  display: block;
  margin: 0 auto;
  padding: 10px 0; }

@media screen and (max-width: 600px) {
  /* line 304, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
  .social img {
    max-width: 35px; }
 }

/* line 310, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.github {
  background-color: #222222; }

/* line 314, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.linkedin {
  background-color: #444444; }

/* line 318, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.facebook {
  background-color: #555555; }

/* line 322, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.instagram {
  background-color: #666600; }

/* line 326, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.myemail {
  padding: 25px 0;
  color: #444444;
  background-color: #e5da00;
  text-align: center;
  font-size: 1.5em; }

/* line 335, /Users/zac.maguire/Documents/bootcamp/assignments/project7-portfolio/website/src/sass/styles.scss */
.social:hover, .myemail:hover {
  opacity: 0.8; }
