// _variables.scss





// ==================== Type Faces ====================

$header-font: 'Bebas Neue', sans-serif;
$body-font: 'Hind', sans-serif;




// ==================== Colour Pallet ====================

$body-col: #fff;
$main-col: #444444;
$matte-black: #141516;
$splash-col: #e5da00;
