// _variables.scss





// ==================== Type Faces ====================

$header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;




// ==================== Colour Pallet ====================

$body-col: #141516;
$main-col: #333333;
$splash-col: #e5da00;
