// Author: Zachary Maguire
// Project: Portfolio


@import 'reset';
@import 'variables';
@import 'global';

@import 'thumb-hover';





// Main Styles 


// Nav-bar styles

#nav-bar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0 10px 32px;
	background-color: $splash-col;
	font-size: 2em;


}


.top {
		width: 100%;
		height: 100%;
  		position: relative;
  		border: 15px solid $body-col;
  		overflow: none;
  		
		
}

#nameText {
	margin-top: 10px;
	display: none;
}


// Nav Styles


#nav {
	position: absolute;
	bottom: 15%;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
}

#nav li {
	text-align: center;
	font-size: 4em;
	margin: 1% 0;
	padding: 2.5% 0;
}

// #nav li:hover {
// 	background-color: $main-col;
// 	color: $body-col;
// }


#nav li a {
	text-decoration: none;
	color: $main-col;
}

// #nav li a:hover {
// 	color: $body-col;
// }

#top-right-bar {
	position: absolute;
	top: 20px;
	right: -100px;
	width: 300px;
	height: 50px;
	background-color: $splash-col;
    transform: rotate(45deg);
    overflow: none;
    display: none;

}



// Work Section


#getfree {
	padding: 31% 0;
}


#lordsofdogtown,
#fontface,
#surfaid,
#damagedgoods {
	padding: 30% 0;
	max-width: 100%;
}

.subrowtop {
	margin-bottom: 5%;
}







#getfree {
	background: url("../images/getfree-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;

  		
}

#lordsofdogtown {
	background: url("../images/lod-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#fontface {
	background: url("../images/fontface-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#surfaid {
	background: url("../images/surfaid-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#damagedgoods {
	background: url("../images/dgz-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}


// Filter black and white at desktop
// @media screen and (min-width: 700px) {
    
// 	#getfree,
// 	#lordsofdogtown,
// 	#fontface,
// 	#surfaid,
// 	#damagedgoods {
// 		-webkit-filter: grayscale(100%); 
//   		filter: grayscale(100%);
//   		transition: all 1s ease-out;
// 	}

// 	#getfree:hover,
// 	#lordsofdogtown:hover,
// 	#fontface:hover,
// 	#surfaid:hover,
// 	#damagedgoods:hover {
// 		-webkit-filter: none; 
//   		filter: none;
//   		transition: all 0.5s ease-out;
// 	}


// }



// Modal Styles



#gfwork,
#dgwork,
#lodwork,
#surfwork,
#ffwork {
	color: white;
	border: 15px solid $main-col;
}

.modal-header {
	text-align: center;
	font-size: 2em;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 5%;
}


.project-info {	
	background-color: $main-col;
	padding: 10%;
	border-radius: 5px;
}

.project-info h4 {	
	max-width: 70px;
	padding: 10px 0;
	margin: 10px 0;
	text-align: center;
	background-color: #555555;
	color: black;

}


#gfwork img {
	max-width: 100%;
	height: auto;
}


// Contact Styles

#contact {
	margin-top: 5%;
	margin-bottom: 5%;
}

#myphoto {
	padding-top: 225px;
	padding-bottom: 225px;
	background: url("../images/lake.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;

}


.description {
	padding: 11.5%;
	font-size: 1.5em;
	background-color: $main-col;
	color: $splash-col;
}


.social img {
	max-width: 60px;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

@media screen and (max-width: 600px) {
	.social img {
		max-width: 35px;
	}
}


.github {
	background-color: #222222;
}

.linkedin {
	background-color: #444444;
}

.facebook {
	background-color: #555555;
}

.instagram {
	background-color: #666600;
}

.myemail {
	padding: 25px 0;
	color: $main-col;
	background-color: $splash-col;
	text-align: center;
	font-size: 1.5em;
}

.social:hover,
.myemail:hover {
	opacity: 0.8;
}



// setting contact columns the same height
// .sameheight {
//     display: table;
// }

// .setsameheight {
//     float: none;
//     display: table-cell;
//     vertical-align: bottom;
// }





