// Author: Zachary Maguire
// Project: Portfolio


@import 'reset';
@import 'variables';
@import 'global';

@import 'thumb-hover';





// Main Styles 


// Nav-bar styles

#nav-bar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0 5px 32px;
	background-color: #fff;
	font-size: 1.5em;
	z-index: 1;


}


.top {
		width: 100%;
		height: 100%;
  		position: relative;
  		overflow: none;
  		background: url("../images/port-background.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		
		
}

.v-align {
	height: 100%;
	width: 100%;
	display: table;
}


#nameText {
	font-family: $header-font;
	color: #fff;
	letter-spacing: 3px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1em;

}

#nameText h1 {
	padding-bottom: 15px;
}

#nameText h2 {
	font-size: 1.2em;
}


// Nav Styles



#nav {
	width: 45%;
	float: right;
	color: black;
	font-size: .6em;
	padding-left: 10%;
	padding-top: 7px;
}

.nav-logo{
	float: left;
	width: 45%;
	padding-left: 20px;
}

#nav li {
	float: left;
	margin: 0 20px;

}

// #nav li:hover {
// 	background-color: $main-col;
// 	color: $body-col;
// }


#nav li a {
	text-decoration: none;
	color: black;
}

// #nav li a:hover {
// 	color: $body-col;
// }



// Work Section


#getfree {
	padding: 31% 0;
}


#lordsofdogtown,
#fontface,
#surfaid,
#damagedgoods {
	padding: 30% 0;
	max-width: 100%;
}

.subrowtop {
	margin-bottom: 5%;
}







#getfree {
	background: url("../images/getfree-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;

  		
}

#lordsofdogtown {
	background: url("../images/lod-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#fontface {
	background: url("../images/fontface-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#surfaid {
	background: url("../images/surfaid-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}

#damagedgoods {
	background: url("../images/dgz-thumb.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}


// Filter black and white at desktop
// @media screen and (min-width: 700px) {
    
// 	#getfree,
// 	#lordsofdogtown,
// 	#fontface,
// 	#surfaid,
// 	#damagedgoods {
// 		-webkit-filter: grayscale(100%); 
//   		filter: grayscale(100%);
//   		transition: all 1s ease-out;
// 	}

// 	#getfree:hover,
// 	#lordsofdogtown:hover,
// 	#fontface:hover,
// 	#surfaid:hover,
// 	#damagedgoods:hover {
// 		-webkit-filter: none; 
//   		filter: none;
//   		transition: all 0.5s ease-out;
// 	}


// }



// Modal Styles



#gfwork,
#dgwork,
#lodwork,
#surfwork,
#ffwork {
	color: white;
	// border: 15px solid $main-col;
}

.close-svg {
	max-width: 40px;
	display: block;
	float: right;
	margin: 15px;
	cursor: pointer;
}

.modal-header {
	text-align: center;
	font-family: $header-font;
	font-size: 3em;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 5%;
}


.project-info {	
	padding: 0 0 0 10%;
	border-radius: 5px;
}

.project-info h4 {	
	font-family: $header-font;
	font-size: 2.5em;
	margin: 10px 0;
}

.project-info p {	
	font-size: 1.2em;
}


.modal-content img {
	max-width: 100%;
	height: auto;
}

.view-site {
	text-align: center;
	font-family: $header-font;
	font-size: 3em;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 5%;
	
}

.view-site p {
	max-width: 20%;
	border: thin solid $splash-col;
	margin: 0 auto;
	text-decoration: none;
}


// Contact Styles

#contact {
	margin-top: 5%;
	margin-bottom: 5%;
}

#myphoto {
	padding-top: 225px;
	padding-bottom: 225px;
	background: url("../images/lake.jpg") no-repeat center center;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;

}


.description {
	padding: 11.5%;
	font-size: 1.5em;
	background-color: $main-col;
	color: $splash-col;
}


.social img {
	max-width: 60px;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

@media screen and (max-width: 600px) {
	.social img {
		max-width: 35px;
	}
}


.github {
	background-color: #222222;
}

.linkedin {
	background-color: #444444;
}

.facebook {
	background-color: #555555;
}

.instagram {
	background-color: #666600;
}

.myemail {
	padding: 25px 0;
	color: $main-col;
	background-color: $splash-col;
	text-align: center;
	font-size: 1.5em;
}

.social:hover,
.myemail:hover {
	opacity: 0.8;
}



// setting contact columns the same height
// .sameheight {
//     display: table;
// }

// .setsameheight {
//     float: none;
//     display: table-cell;
//     vertical-align: bottom;
// }





